@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.background.color1 {
    background: linear-gradient(to left top, #462041, #3a4258);
}

.content {
    position: relative;
    width: 800px;
    margin: 0 auto;
    padding-top: 80px;
    font-family: Lato, sans-serif;
}

.content .introduction .title {
    font-family: 'Oswald', sans-serif;
    font-size: 80px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: -25px;
}

.content .introduction .subtitle {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    color: #fff;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.content .introduction .description {
    font-size: 20px;
    color: #fff;
}

.content section .title {
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    color: #fff;
}

.introduction {
    margin-bottom: 70px;
}

.button {
    position: relative;
    display: inline-block;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    overflow: hidden;
}

.button .border {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #000;
}

.button .label {
    display: inline-block;
    padding: 16px 22px;
}


.button .label-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000;
    padding: 16px 22px;
    transform: translateY(-100%);
    transition: transform .45s cubic-bezier(.4, 0, .25, 1);
    will-change: transform;
}


a {
    color: #fff;
    outline: none;
}

.button:hover .label-hover {
    transform: translateY(0);
}

.button .label-hover .inner {
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform .45s cubic-bezier(.4, 0, .25, 1);
    will-change: transform;
}

.button:hover .label-hover .inner {
    transform: translateY(0);
}
